[alias]
clone = !"%HG%" --config color.mode=win32 --config alias.clone=clone clone $@
pull  = !"%HG%" --config color.mode=win32 --config alias.pull=pull   pull  $@
push  = !"%HG%" --config color.mode=win32 --config alias.push=push   push  $@

[ui]
editor = gvim
ssh = plink -batch -C

[hooks]
changegroup.stat = hg diff --stat -r %HG_NODE%:

[color]
mode = ansi

# vim:ft=cfg:
