[alias]
	alias = "!f() { git config --get-regexp \"alias\\.${1:-*}\" | sed 's/^alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\t= \\2/'; }; f | $(git var GIT_PAGER)"
	br = branch
	ci = commit -v
	co = checkout
	sw = checkout
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpq = cherry-pick --quit
	cpa = cherry-pick --abort
	di = diff
	dic = diff --cached
	g = grep
	l = log --pretty=fuller --stat
	ll = log -p --pretty=fuller --stat
	ls = ls-files
	please = push --force-with-lease
	ss = status -bs
	st = status
	re = rebase --committer-date-is-author-date
	ri = rebase -i
	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort
	v = show -p --pretty=fuller --stat
	view = log --decorate --source --tags --branches --oneline --graph
	xl = stash list
	xs = stash show
	xp = stash show -p --stat
	xd = stash drop
	xo = stash pop
	xa = stash apply
	xi = stash save
	xbr = stash branch
	xC = stash clear
[color]
	ui = auto
[core]
	pager = delta
	quotepath = false
[diff]
	algorithm = histogram
	colorMoved = default
	compactionHeuristic = true
	renames = copy
	tool = p4merge
[fetch]
	prune = true
[grep]
	lineNumber = true
[help]
	autocorrect = -1
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
	tool = p4merge
[mergetool]
	keepBackup = false
[pull]
	rebase = false
[push]
	default = simple
	useForceIfIncludes = true
[rebase]
	autosquash = true
[user]
	name = Akinori Hattori
	email = hattya@gmail.com
[delta]
	diff-highlight = true
	navigate = true
[github]
	user = hattya
